* {
  box-sizing: border-box;
}

.container {
  margin: 20px;
}

.controller-bar {
  margin: 20px 0;
}

.count-input {
  width: 50px;
  margin: 0 50px 0 10px;
}

.quizzes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.quiz {
  width: 49%;
  display: block;
  flex: 1 0 auto;
  margin: 10px 0;
  padding-left: 20px;
}

@media print {
  .controller-bar {
    display: none;
  }
  .quiz {
    font-size: 10mm;
    margin: 4mm 0;
  }
}
